*
::after
::before
	outline none
	box-sizing border-box
a
	color baseColor
	&:hover
		text-decoration none
		color white
nav
	ul
		list-style none

input
	&:focus
		box-shadow none
		border-color #e6e6e6