
.body
  width 100%
  min-width 890px
  height 100%
  font-family baseFont
  font-size 100%
  line-height lineHeight
  color baseColor
  background-color lightColor
  padding 0
  margin 0 auto
  transition()