.site
	background-color whiteColor
	width 100%
	min-width siteMinWidth
	min-height 100%
	margin 0 auto
	position relative
	font-family baseFont
	//z-index 1
	&-content
		flex 1
	&-header
		position relative
		border 1px solid lightColor
		box-shadow 0 0 0 0 rgba(0,0,0,.17)
		z-index 3
	&-topNav
		position relative
		z-index 3
	&-cover
		position relative
		background-color lightColor
		margin-bottom 98px
		z-index 1
	&-categories
		width 100%
		height 100%
		margin-bottom 99px
	&-catalog
		width 100%
		height 100%
		margin-bottom 113px
	&-offer
		height 100%
		margin-bottom 97px
	&-commentsSubscribe
		height 437px
		background-color lightColor
		background-image url("../json-server/img/bg/bg-comments.jpg")
		background-repeat no-repeat
		background-position center
		margin-bottom 97px
		+responsive(xss)
			height 37em
			background-image none
	&-botNav
		width 100%
		height 100%
		background-color whiteColor
		margin-bottom 97px
	&-footer
		display flex
		background-color footerBGColor

.dropdownMarginTop
	height 1em