extends ../layouts/_layout

block content

	main.content-main.main
		section.site-catalog
			.container
				.catalog
					h2.catalog-title Fetured Items
					.catalog-description Shop for items based on what we featured in this week
					#goods.catalog-items

					a.button.catalog-button(href='#') Browse All Product
						img.catalog-buttonImg(src='assets/img/icons/button/--.png', alt='')
			//catalog-bestItems

	//include ../includes/comments