.container
	.footer
		nav.footer-item
			ul.footer-menu
				a.btn.btn--assent.footer-link(href='#')
					| Главная
				a.btn.btn--assent.footer-link(href='#')
					| О нас
				a.btn.btn--assent.footer-link(href='#')
					| Навыки
				a.btn.btn--assent.footer-link(href='#')
					| Преимущество
				a.btn.btn--assent.footer-link(href='#')
					| Тарифы
				a.btn.btn--assent.footer-link(href='#')
					| Дополнительные услуги
		p.footer-item
			span.footer-descr
				| © Все права защищены.
			span.footer-descr
				| Web Start ltd.
			span.footer-descr
				| hello@webstart.ru