// css
- var myStyleLink = "assets/css/styles.min.css"
- var bootstrapStyleLink = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
// js
- var jQueryCdnLink = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
- var myScriptLink = "assets/js/script.js"


