doctype html
html(lang="en")

	include ../includes/head
	
	body.body
		.site
			header.site-header
				include ../includes/header
			section#siteTopNav.site-topNav

			.site-content.content
				block content


			
		include ../includes/scripts
